# Ignorar arquivos sensíveis e desnecessários para o Git
**/id_rsa
**/id_rsa.pub

venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store
.vscode/
.idea/
*.log
debugai/
# Ignorar arquivos de Docker
*.pid
docker-compose.override.yml
# Ignorar arquivos de Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
